#search {
    width: 500px;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #ddd;
}

#search:focus {
    border: 2px solid #10eabefa;
    z-index: 10;
    outline: 0;
}

.searchButton {
    margin: 5px;
    padding: 17px 30px;
    font-size: 20px;
    background-color: #ddd;
    border-radius: 15px;
    border: #ddd;
}

.searchButton:hover {
    background: #c6c6c6;
}

#stationArea {
    width: 500px;
    height: 100px;
}

#stationAreaName {
    text-align: center;
    font-size: 20px;
}

.title {
    text-align: center;
}

